name: Build & Push BigchainDB (Fedora)

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout BigchainDB repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          install: true
          driver-opts: |
            network=host

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Fedora BigchainDB Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          provenance: false
          tags: |
            namanoncode/bigchaindb:latest
            namanoncode/bigchaindb:${{ github.sha }}
          cache-from: type=registry,ref=namanoncode/bigchaindb:cache
          cache-to: type=registry,ref=namanoncode/bigchaindb:cache,mode=max
